[Unit]
Description=Yaguara etl service
PartOf=app.service
After=app.service

[Service]
WorkingDirectory=/home/chad/Sites/yaguara/packages/etl
ExecStart=/home/chad/.nvm/versions/node/v10.15.3/bin/npm run start:nodemon

[Install]
WantedBy=app.service
WantedBy=backend.service
