[Unit]
Description=Yaguara front-end service
PartOf=app.service
After=app.service

[Service]
WorkingDirectory=/home/chad/Sites/yaguara/packages/front-end
ExecStart=/home/chad/.nvm/versions/node/v10.15.3/bin/npm run start

[Install]
WantedBy=app.service
