[Unit]
Description=Yaguara Shopify Patch service

[Service]
Environment=PATH=/home/chad/.yarn/bin:/home/chad/.config/yarn/global/node_modules/.bin:/home/chad/.local/bin:/home/chad/.bin:/home/chad/.nvm/versions/node/v10.15.3/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl:/home/chad/.fzf/bin
Environment=REDIS_HOST=localhost
Environment=DATABASE_HOST=yaguara-web-production.cv360oyfmcuy.us-east-2.rds.amazonaws.com
Environment=DATABASE_USER=i8jEDBevToM
Environment=DATABASE_PASSWORD=Ltaum%%skdQfFv9W+q[7
Environment=NODE_ENV=production
WorkingDirectory=/home/chad/Sites/yaguara-git
ExecStart=/home/chad/.nvm/versions/node/v10.15.3/bin/node .local-scripts/patchShopifyData.js
