<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>my.startup</string>
		<key>ProgramArguments</key>
		<array>
			<string>/bin/sh</string>
			<string>-c</string>
			<string>launchctl setenv PATH /Users/chad/.nvm/versions/node/v10.15.3/bin:/Users/chad/go:/Users/chad/go/bin:/Users/chad/.yarn/bin:/Users/chad/.config/yarn/global/node_modules/.bin:/Users/chad/.local/bin:/Users/chad/.bin:/Users/chad/.nvm/versions/node/v10.15.3/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/chad/.nvm/versions/node/v10.15.3/bin:/Users/chad/go:/Users/chad/go/bin:/Users/chad/.yarn/bin:/Users/chad/.config/yarn/global/node_modules/.bin:/Users/chad/.local/bin:/Users/chad/.bin:/Users/chad/.fzf/bin</string>
		</array>
		<key>RunAtLoad</key>
		<true/>
	</dict>
</plist>
