<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>mailer</string>
		<key>WorkingDirectory</key>
		<string>/Users/chad/Sites/yaguara</string>
		<key>ProgramArguments</key>
		<array>
			<string>/Users/chad/.nvm/versions/node/v10.15.3/bin/npm</string>
			<string>run</string>
			<string>mailer</string>
			<string>start</string>
		</array>
		<key>StandardOutPath</key>
		<string>/Users/chad/.logs/mailer.log</string>
		<key>StandardErrorPath</key>
		<string>/Users/chad/.logs/mailer.log</string>
	</dict>
</plist>
